.note--magnet {
    position: relative;
}

.body--admin-enabled .card__personal-note-flag,
.body--admin-enabled .card__blog-flag {
    display: block;
    position: absolute;
    right: 0;
    bottom: 5px;
    color: white;
    text-align: center;
    background: red;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    height: 20px;
}

.body--admin-enabled .card__personal-note-flag {
    background: yellow;
    color: red;
    right: 40px;
}

.note--magnet:after {
    /* @todo: a nice pin!*/
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.overlay__mask {
    opacity: .2;
    background: black;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.overlay__content,
.overlay__mask {
    top: 0;
    z-index: 1;
}
.overlay__content {
    position: relative;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 288px;
}
.overlay__input {
    display: block;
    width: 100%;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    height: 40px;
}
.cardlist__item {
    height: 80px;
    position: relative;
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
    display: block;
}
.cardlist__item__thumb {
    background-size: cover;
    width: 80px;
    height: 100%;
}
.cardlist__item__link {
    display: block;
    left: 0;
    right: 0;
    color: #333;
    text-decoration: none;
    font-size: 1.3em;
    padding-left: 100px;
    position: absolute;
    padding-top: 20px;
    cursor: pointer;
    bottom: 0;
    top: 0;
}
.slideshow__arrow--right,
.slideshow__arrow--left {
    top: 0;
    position: absolute;
    z-index: 1;
    opacity: .9;
    height: 100%;
    width: 40px;
}

.slideshow__arrow--right {
    right: 0;
}

.slideshow__arrow--right:before,
.slideshow__arrow--left:before {
    content: "";
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -407 24 24'%3E%3Cpath d='M21.348-401.268q.94 0 1.61.668l.92.922-11.858 11.86L.198-399.66l.922-.94q.65-.686 1.59-.686.94 0 1.61.668l7.718 7.7 7.7-7.682q.67-.668 1.61-.668z' xmlns:default='http://www.w3.org/2000/svg' fill='%23FFF'/%3E%3C/svg%3E");
    display: block;
    height: 100%;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.slideshow__arrow--right:before {
    transform: rotate(270deg);
}
.slideshow__arrow--left:before {
    transform: rotate(90deg);
}

@media all and (min-width: 1000px) {
    .overlay__content {
        width: 500px;
    }
}
